{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "production": {
            "only": [
                "src"
            ],
            "plugins": [
                [
                    "@babel/plugin-transform-modules-commonjs", {
                        loose: true
                    }
                ]
            ]
        }
    }
}
